.Dh1 {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    padding: 50px 20px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    color: rgba(255, 255, 255, 0.8);
    background-color: #2D3E4F;
    letter-spacing: .15em;
    
}

.divS {
    padding: 12px;
    line-height: 67px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 19px;
    color: rgba(255, 255, 255, 0.8);
}


.containers {
    /*stitching*/
    position: absolute;
    outline: 1px dashed white;
    outline-offset: -5px;
    margin: 10px;
    background-color: #556068;
    width: auto;
    height: auto;

    /*shadow*/
    -webkit-box-shadow: 2px 2px 2px #000;
    -moz-box-shadow: 2px 2px 2px #000;
    box-shadow: 2px 2px 2px #000;


}

.name {
    left: 28vw;
    top: 24vw;
}


.surname {
    left: 68vw;
    top: 24vw;
}

.sexe {
    left: 28vw;
    top: 36vw;
}

.age {

    left: 68vw;
    top: 36vw;
}

.naissance {

    left: 28vw;
    top: 48vw;
}

.poids {
    left: 68vw;
    top: 48vw;
}

.taille {
    left: 28vw;
    top: 60vw;
}

.imgI2 {

    max-height: 133px;
    margin: 30px;
    position: absolute;
    top: 25vw;
    max-width: 169px;
    left: 0;
    border: solid;
}
