.imgEvenement{
    border: 3px solid black;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.2s ease;

}

.imgEvenement:hover{
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    box-shadow: 10px 5px 5px black;
}

.titleEvenement{
    font-size: 23px;
    color: grey;
    text-decoration: none !important;
}

.titleEvenement:hover{
    color: black !important;
  
}



/* Vue Evenements */

.imgI{
    float: left;
    height: 300px;
    margin-bottom: 20px;
    cursor: pointer !important;
    transition: all 0.4;
    border: 3px solid black;
    padding: 3px;
        /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
        filter: gray; /* IE5+ */
        -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
        -webkit-transition: all .8s ease-in-out; 
    
}

.imgI:hover{

    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.01);

}

/* LightBox */

#imagelightbox
{
    position: fixed;
    z-index: 9999;
    border: 10px solid black;
}

#imagelightbox-overlay {
    background-color: #fff;
    background-color: rgba( 255, 255, 255, .9 );
    position: fixed;
    z-index: 9998;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.textE{
    background: black;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
}